<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CSVtoBDD</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="isActive('/')">
        <a class="nav-link" routerLink="/">List</a>
      </li>
      <li class="nav-item" [class.active]="isActive('/upload')">
        <a class="nav-link" routerLink="/upload">Upload</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button (click)="logout()" class="btn btn-outline-secondary mx-3 my-2 my-sm-0" type="submit">
        Logout
      </button>
    </div>
  </div>
</nav>
