<section class="vh-100 d-flex justify-content-center align-items-cente">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="text-center" *ngIf="loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <form
          *ngIf="!loading"
          (ngSubmit)="onSubmitLogin()"
          #registerForm="ngForm"
        >
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': errors['login'] }"
              id="login"
              name="login"
              [(ngModel)]="login"
            />
            <div *ngIf="errors['login']" class="invalid-feedback">
              {{ errors["login"] }}
            </div>
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
              [(ngModel)]="password"
              [ngClass]="{ 'is-invalid': errors['password'] }"
              name="password"
            />
            <div *ngIf="errors['password']" class="invalid-feedback">
              {{ errors["password"] }}
            </div>
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a routerLink="/register" class="link-danger">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
