<app-header></app-header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="my-3">
        <div class="row mt-3">
          <div class="col-12 col-md-8">
            <label class="btn btn-default p-0 w-100">
              <input type="file" (change)="selectFile($event)" />
            </label>
          </div>

          <div class="col-12 col-md-4">
            <button
              class="btn btn-success btn-sm"
              [disabled]="!selectedFiles"
              (click)="upload()"
            >
              Upload
            </button>
          </div>
        </div>

        <div *ngIf="currentFile" class="progress my-3">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
          >
            {{ progress }}%
          </div>
        </div>

        <div *ngIf="message" class="alert alert-secondary" role="alert">
          {{ message }}
        </div>

        <div *ngIf="valideFile" class="form-group">
          <label for="selectOption">Sélectionnez une option</label>
          <select id="selectOption" class="form-control" [(ngModel)]="SelectedOption" (change)="fetchCSVHeaders()">
            <option value=""></option>
            <option value="0">Creation</option>
            <option *ngFor="let option of options" [value]="option.id">
              {{ option.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- CREATION -->
  <app-controle-file *ngIf="SelectedOption === '0'" [csvHeaders]="csvHeaders"></app-controle-file>
</div>
