<div class="d-flex justify-content-center overflow-scroll">
  <div
    cdkDropList
    class="example-list mx-3"
    (cdkDropListDropped)="drop1($event)"
  >
    <div class="example-box" *ngFor="let header  of csvHeaders" cdkDrag [cdkDragDisabled]="false" >
      {{ header }}
    </div>
  </div>
</div>
